.container{
    margin-top: 2rem !important;
    background-color: #8aeec0;
}
nav{
    background-color: #ffffff;
}
.navbar-toggler{
    background-color: #52ab98;
    color: black;
}
body{
    background-color: #c8d8e4;
}
